.Weather {
  border: 1px solid #CED4DA;
  border-radius: 5px;
  padding: 15px;
  margin-top: 20px;
}

.Weather form {
  margin-bottom: 15px;
}

.Weather ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.Weather .temperature {
  font-size: 64px;
  font-weight: 100px;
}

.Weather .unit {
  position: relative;
  top: -30px;
}